---
layout: page
description: "审视一切，重建自己。"
---

<ul class="post-list">
{% for post in paginator.posts %}
    <li class="post-list-item">
        <span class="post-list-date">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a
            href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            >&larr; Newer Posts</a
        >
    </li>
    {% endif %} {% if paginator.next_page %}
    <li class="next">
        <a
            href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"
            >Older Posts &rarr;</a
        >
    </li>
    {% endif %}
</ul>
{% endif %}
